<div *ngIf="phrase">
    <h3>Selected Phrase</h3>
    
    
    <div *ngIf="auth.isLoggegIn; then thenBlock else elseBlock"></div>
    
    <div>
        <button (click)="goToPhrasesList()">Go back</button>
    </div>
</div>

<ng-template #thenBlock>
    <div><label>Value: <input type="text" [(ngModel)]="editValue"></label></div>
    <div><label>Language: <input type="text" [(ngModel)]="editLanguage"></label></div>
    
    <div *ngIf="isChanged()">
      <button (click)="save()">Save</button>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div>Value: {{phrase.value}}</div>
    <div>Language: {{phrase.language}}</div>
</ng-template>